<div [class]="getCardClasses()" (click)="onClick($event)">
  <div *ngIf="title || subtitle" class="card-header">
    <div class="card-title-section">
      <h3 *ngIf="title" class="card-title">{{ title }}</h3>
      <p *ngIf="subtitle" class="card-subtitle">{{ subtitle }}</p>
    </div>
    <div *ngIf="headerAction" class="card-header-action">
      <ng-content select="[slot=header-action]"></ng-content>
    </div>
  </div>
  
  <div class="card-body" [class.no-padding]="noPadding">
    <ng-content></ng-content>
  </div>
  
  <div *ngIf="showFooter" class="card-footer">
    <ng-content select="[slot=footer]"></ng-content>
  </div>
</div>