.report {
  background-color: var(--bg-color);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
  display: inline-block;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  margin-top: 1rem;
}
