<div [class]="getAlertClasses()" *ngIf="!dismissed">
  <div class="alert-icon" *ngIf="showIcon">
    <svg [innerHTML]="getIconSvg()"></svg>
  </div>
  
  <div class="alert-content">
    <h4 *ngIf="title" class="alert-title">{{ title }}</h4>
    <div class="alert-message">
      <ng-content></ng-content>
    </div>
  </div>
  
  <button 
    *ngIf="dismissible" 
    class="alert-dismiss"
    (click)="onDismiss()"
    aria-label="Dismiss alert"
  >
    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <line x1="18" y1="6" x2="6" y2="18"/>
      <line x1="6" y1="6" x2="18" y2="18"/>
    </svg>
  </button>
</div>